<div class="stores_headers clearfix">
  <img class="splash black black1" src="../black.png" alt="" />
  <h3><span class="special two">*</span>Our Retailers</h3>
  <h3><span class="special two">+</span>Add Retailers<span class="special two three four">>></span></h3>
  <h3 class="form-header">
    <div class="inline-form" id="store-form">
      <form action="/stores/new" method="post">
        <label for="store_name">Name:</label>
        <input id="store_name" name="store_name" type="text">
        <label for="store_location">Location:</label>
        <input id="store_location" name="store_location" type="text">
        <button class="btn inline-button" type="submit"><span class="special two three four">+</span></button>
      </form>
    </div>
  </h3>
</div>
<img class="splash green2" src="../green-paint-splash.png" alt="" />
<% if @stores.any? %>
  <div class="stores">
    <% @stores.each do |store| %>
      <div class="store">
        <li id="store_link"><a href="/stores/<%= store.id %>"><%= store.name %></a></li>
        <p class="location"><%= store.location %></p>
        <% if @brands.any? %>
          <div class="" id="brand_select_add_to_store_form">
            <form action="/stores/<%= store.id %>/add_brand" method="post">
              <p>
                Add a brand
              </p>
              <!-- <label for="brand_id"><span class="special one two">Add</span>Brand</label> -->
              <select id='brand_id' name='brand_id' type='text'>
                <% @brands.each do |brand| %>
                  <option value="<%= brand.id()%>"> <%= brand.name() %> </option>
                <% end %>
              </select><br>
              <button class="btn" type="submit"><span class="special two">+</span></button>
            </form>
          </div>
        <% else %>
          <p>No featured brands</p>
        <% end %>
      </div><!-- end of store class -->
    <% end %><!-- end of stores.each loop -->
  </div><!--end of stores -->
<% else %>
<p>
  No retailers currently. Check back.
</p>
<% end %>
